<nav class="navbar navbar-expand-lg sticky-top navbar-dark ">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="images/logo.png" alt="" width="100" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav px-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ms-3" >
            <a class="nav-link" href="#">Create Shipment</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" href="#">Shipping Rates</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" href="#">Delivery Times</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" href="#">Tracking</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>